<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Convite para a ListaVIP</title>
        <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
    <h1>Convite para a LISTA VIP</h1>
<!--     <div class="container"> -->
<!--         <div class="jumbotron" align="center" style="margin-top: 50px;"> -->
<!--             <h1>Seja bem-vindo ao ListaVIPs</h1> -->
<!--             <div align="center"> -->
<!--                 <a href="listaconvidados" class="btn btn-lg btn-primary">Clique aqui para ver a lista de convidados</a> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>